:root {
    --max-width: 1200px;
    --black: #000;
    --white: #FFF;
    --white2: #f0f0f0;
    --gray1: #242424;
    --yellow: #ffdd00;
    --yellow2: #f3ffb5;
    --red: #ff0000;
    --green: #1dad22;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
}

section#crud-table table{
    margin: 2rem;
    padding: 1rem;
    width: 100%;
    border-spacing: 5px;
}

section#crud-table table thead th {
    border-radius: 5px;
    background: var(--gray1);
    color: var(--white);
    padding: 0.5rem;
    transition: background-color ease-in-out 0.3s;
}

section#crud-table table thead th h4 {
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: inline;
}

section#crud-table table tbody tr:nth-child(odd) {
    background: var(--white2);
}

section#crud-table table tbody tr td {
    padding: 0.5rem;
    text-align: center;
    transition: background-color ease-in-out 0.3s;
}

section#crud-table table tbody tr:hover td{
    background-color: var(--yellow2);
}

section#crud-table table tbody tr td:first-child {
    border-radius: 5px 0 0 5px;
}

section#crud-table table tbody tr td:last-child {
    border-radius: 0 5px 5px 0;
}

section#crud-table table tbody tr td button {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    transition: color ease-in-out 0.3s;
}

section#crud-table table tbody tr td button.crud-table-edit:hover {
    color: var(--green);
}

section#crud-table table tbody tr td button.crud-table-delete:hover {
    color: var(--red);
}
