@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/*********************************************************************************************************
*
*                                                 GENERAL CSS
*
***********************************************************************************************************/

:root {
    /* Font-family */
        --roboto-condensed: "Roboto Condensed";
        --playfair-display: "Playfair Display";
    /*End Font-family */

    /* Set width of the container */
    --max-width: 1200px;
    --full-size: 100%;
    --half-size: 50%;
    --quarter-size: 25%;

    /* Global color for the site */
    --black: #000;
    --white: #FFF;
    --white2: #f0f0f0;
    --gray1: #242424;
    --gray2: #c2c2c2;
    --yellow: #ffdd00;
    --yellow2: #f3ffb5;
    --red: #ff0000;
    --warning: #c43131;
    --warning-light: #fbdfdf;
    --success: #1dad22;
    --blue: #0f5fff;
    --overlay: rgba(0, 0, 0, 0.4);

    /* Headings and text font size */
    --h1: clamp(40px, 6vw, 70px);
    --h2: clamp(35px, 6vw, 60px);
    --h3: clamp(30px, 6vw, 50px);
    --h4: clamp(25px, 6vw, 40px);
    --h5: clamp(20px, 6vw, 30px);
    --h6: clamp(15px, 6vw, 20px);
    --text: clamp(12px, 6vw, 16px);
}

* { box-sizing: border-box; }

.container {
    max-width: var(--max-width);
    margin: 1rem auto;
}

.table-nav {
    display: flex;
    justify-content: flex-end;
}

/* Site font family and sizes */
    body {
        font-family: var(--roboto-condensed), sans-serif;
        font-size: var(--text);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--playfair-display), sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
    }

    h1 { font-size: var(--h1); }
    h2 { font-size: var(--h2); }
    h3 { font-size: var(--h3); }
    h4 { font-size: var(--h4); }
    h5 { font-size: var(--h5); }
    h6 { font-size: var(--h6); }
/*End of Site font family and sizes */

.hide {
    display: none;
}

/* Utility colors */
    .primary {
        color: var(--gray1);
    }

    .warning {
        color: var(--warning);
        background: var(--warning-light);
        border-radius: 5px;
        padding: 1rem;
    }

    .success {
        color: var(--success);
    }
/*End of Utility colors */

/* Utility spacing */
    .set-in-middle {
        display: flex;
        justify-content: space-around;
    }

    .set-both-ends {
        display: flex;
        justify-content: space-between;
    }

    .set-display-at-end {
        display: flex;
        justify-content: flex-end;
    }

    .one-rem-apart {
        margin-bottom: 1rem ;
    }
/*End of Utility spacing */

/* Button */
    button {
        outline: none;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
    }

    button.primary-btn {
        background: var(--gray1);
        color: var(--white);
        box-shadow: 0px 0px 0px var(--white2);

    }

    button.primary-btn:hover{
        box-shadow: 5px 5px 5px var(--white2);
        background: var(--white);
        color: var(--gray1);
    }

    button.warning-btn {
        background: var(--warning);
        color: var(--white);
        box-shadow: 0px 0px 0px var(--white2);
    }

    button.warning-btn:hover{
        box-shadow: 5px 5px 5px var(--white2);
        background: var(--red);
    }

    /* For close button */
    .close-button {
        display: flex;
        justify-content: flex-end;
    }

    .close-button span {
        cursor: pointer;

    }
/*End of Button */

/* For error messages */
    p.errMsg {
        margin: 0;
        width: 80%;
        font-size: 14px;
        color: var(--red);
        background: var(--warning-light);
        padding: 0.2rem 0.7rem;
        border-radius: 5px;
        margin-top: 0.4rem;
    }

    .password-guide {
        margin: 0;
        width: 80%;
        font-size: 14px;
        color: var(--red);
        padding: 0;
        margin-top: 0.4rem;
    }

    .password-guide li {
        list-style-type: none;
        margin-bottom: 0.3rem;
    }
/* End of error messages */

/*****************************************************************************************
*
*                                         TABLE SECTION
*
*****************************************************************************************/
section#crud-table table{
    margin: 2rem;
    padding: 1rem;
    width: var(--full-size);
    border-spacing: 5px;
}

section#crud-table table thead th {
    border-radius: 5px;
    background: var(--gray1);
    color: var(--white);
    padding: 0.5rem;
    transition: background-color ease-in-out 0.3s;
}

section#crud-table table thead th h6 {
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: inline;
}

section#crud-table table tbody tr:nth-child(odd) {
    background: var(--white2);
}

section#crud-table table tbody tr td {
    padding: 0.5rem;
    text-align: center;
    transition: background-color ease-in-out 0.3s;
}

section#crud-table table tbody tr:hover td{
    background-color: var(--yellow2);
}

section#crud-table table tbody tr td:first-child {
    border-radius: 5px 0 0 5px;
}

section#crud-table table tbody tr td:last-child {
    border-radius: 0 5px 5px 0;
}

section#crud-table table tbody tr td button {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    transition: color ease-in-out 0.3s;
}

form.crud-table-form {
    display: inline;
}

section#crud-table table tbody tr td button.crud-table-edit:hover {
    color: var(--green);
}

section#crud-table table tbody tr td button.crud-table-delete:hover {
    color: var(--red);
}
