/* For popup */
#popup-overlay, #delete-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--full-size);
    height: var(--full-size);
    background-color: var(--overlay);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#crud-popup,#delete-popup {
    width: calc(100% - 1rem);
    max-width: 500px;
    padding: 1rem 2rem;
    border-radius: 10px;
    background: var(--white);
    position: absolute;
    left: calc(95% - 60%);
    top: 15%;
    overflow: hidden;
}

#crud-popup h6, #delete-popup h6{
    margin: 0;
}

#delete-popup form div div {
   display: flex;
   justify-content: space-between;
}

#crud-popup form div div input, #delete-popup form div div input {
    width: calc(100% - 20%);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--gray1);
}

#crud-popup .close-button span i, #delete-popup .close-button span i {
    transition: color ease-in-out 0.3s;
}

#crud-popup .close-button span i:hover, #delete-popup .close-button span i:hover {
    color: var(--red);
}

/* For popup input */
.password {
    width: 80%;
    border-bottom: 1px solid var(--gray1);
    display: flex;
    justify-content: space-between;
}

.password input#password, .password input#repassword   {
    border: none;
}

.password i {
    cursor: pointer;
}

.repassword label {
    width: 20%;
}