/* For popup */
#popup-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#crud-popup {
    width: calc(100% - 1rem);
    max-width: 500px;
    padding: 1rem 2rem;
    border-radius: 10px;
    background: var(--white);
    position: absolute;
    left: calc(95% - 60%);
    top: 15%;
    overflow: hidden;
}

#crud-popup div {
    margin-bottom: 1rem;
}

#crud-popup h6{
    margin: 0;
}

#crud-popup form div div {
   display: flex;
   justify-content: space-between;
}

#crud-popup form div div input {
    width: calc(100% - 20%);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--gray1);
}

#crud-popup .close-button span i {
    transition: color ease-in-out 0.3s;
}

#crud-popup .close-button span i:hover {
    color: red;
}